.category_card {
  display: flex;
  margin: 1em;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 23%;
  background: #ffffff;
  border-radius: 16px;

  &__thumbnail {
    width: 100%;
    margin-bottom: 1em;
    position: relative;
    padding-top: 100%;

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1em;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 0.5em 0;
    background: #ffffff;
    border: 2px solid #e6e8ec;
    box-sizing: border-box;
    border-radius: 3em;
    text-transform: capitalize;

    &__icon {
      width: auto;
      height: 1.5em;
      margin: 0 0.5em;
    }
  }
}

.category_gallery {
  &__container {
    display: grid;
    background: #ffffff;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 2em 0;
    width: 100%;
  }

  &__button {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--more {
      text-align: center;
      display: inline-block;
      text-decoration: none;
      background: #3772ff;
      border-radius: 18px;
      padding: 0.5em 3em;
      color: #ffffff;
      cursor: pointer;
      outline: inherit;
      border: 0;
    }
  }
}

@media (max-width: 900px) {
  .category_gallery {
    &__container {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media (max-width: 768px) {
  .category_gallery {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 575px) {
  .category_gallery {
    &__container {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
