h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
}

h2 {
  font-size: 2rem;
}
p {
  font-weight: 400;
  margin: 0;
}

.container {
  margin: 0.5em auto;
  max-width: 1440px;
  width: 80%;
}
