.container__footer {
  background: #f8f8fb;
  margin: 0 auto;
}
.footer {
  margin: 2em auto;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    &__logo {
      width: 30%;
      &__icon {
        display: flex;
        align-items: center;
        LogoSvg {
          margin-right: 1em;
        }
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      width: 30%;
      &__about {
        display: flex;
        flex-direction: column;
        width: 50%;
        &__link {
          text-decoration: none;
          margin: 0.5em 0;
        }
      }
      &__contact {
        width: 50%;
      }
    }

    &__socialmedia {
      width: 25%;
      &__icons {
        margin: 0.5em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__icon{
          width:3em;
          height:auto;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 2em 0;
    &__details {
      flex-direction: column;
      &__logo {
        margin: 0.5em 0;
        width: 100%;
      }
      &__info {
        margin: 0.5em 0;
        width: 100%;
      }

      &__socialmedia {
        margin: 0.5em 0;
        width: 100%;
      }
    }
  }
}
