.item_card {
  display: block;
  margin: 1em 0;
  min-width: 0;
  flex: 0 0 20%;
  background: #ffffff;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 16px;
  padding: 1em;

  &__thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    position: relative;
    padding-top: 100%;

    img {
      position: absolute;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 1em;
    }
  }
  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }
  &__edition,
  &__price {
    font-weight: bold;
  }
  &__price__status--soon {
    display: inline-block;
    padding: 0 0.25em;
    color: #9757d7;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #9757d7;
    border-radius: 4px;
    width: fit-content;
  }
}
