.item_gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em 0;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .item_gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
